<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    <section class="hero is-halfheight has-bg-img">
        <div class="hero-body">
            <div class="">
                <p class="title">
                </p>
                <p class="subtitle">
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        <h1 class="title">About</h1>
        <h2 class="subtitle">
            <p>
                A poker puzzle game coming to Steam.
                Push cards to create the perfect poker hand.
            </p>
            <a class="button" href="http://s.team/a/1937170?utm_source=website&utm_campaign=about">
                <span class="icon">
                    <i class="fab fa-steam"></i>
                </span>
                <span>Wishlist</span>
            </a>
        </h2>
    </section>

    <section class="section">
        {{ .Content }}
    </section>

    <section class="section">
        <h1 class="title">How to play</h1>
        <h2 class="subtitle">
            <div class="columns is-multiline">
                {{ range sort .Site.Data.tutorial "weight" }}
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-header-title">
                                {{ .content }}
                            </div>
                        </div>
                        <div class="card-image">
                            <figure class="image is-16by9">
                                <img src="{{ .image }}">
                            </figure>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </h2>
    </section>

    {{- partial "features.html" . -}}
    {{- partial "screenshots.html" . -}}

    {{- partial "footer.html" . -}}
</body>

</html>