<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <section class="hero is-halfheight has-bg-img">
            <div class="hero-body">
              <div class="">
                <p class="title">
                </p>
                <p class="subtitle">
                </p>
              </div>
            </div>
          </section>
          <section class="section">
            <h1 class="title">About</h1>
            <h2 class="subtitle">
                A poker puzzle game coming to Steam.
                Push cards to create the perfect poker hand.
              <button class="button">
                <span class="icon">
                  <i class="fab fa-steam"></i>
                </span>
                <span>Wishlist</span>
              </button>
            </h2>
          </section>
        {{- partial "footer.html" . -}}
    </body>
</html>
